* {
    box-sizing: border-box; 
    margin: 0;
}

body, html {
    height: 100%;
    position: relative;

}
.global  {
    position: relative;
    border: 3px solid #9A9EAB;
    padding: 20px;
    display: block;
    
}

a {
    color: white;
}

ul {
    position: absolute;
    padding:2em;
    border: 3px solid #9A9EAB;
    background-color: #063852;
    color: white;
    width: 200px;
    
}

.text_block {
    position: relative;
    margin-left: 250px;
    
}
p {
    border: 3px solid #9A9EAB;
    margin-bottom: 20px;
    
}

.footer {
    border: 3px solid #9A9EAB;
    background-color: #063852;
    color: white;
    bottom: 0;
    padding: 1rem;
    position: absolute;
    width: 100%;
}

.footer p {
    border: none;
    margin-top: 20px;
}