body {
  font-family: cursive;

}
tr:first-child td {
  background-color: lightgrey;
}
table, th, td {
  border: 2px solid grey;
  border-collapse: collapse;
    text-align: center;
    padding: 10px;
}

caption {
  text-align: center;
  margin-bottom: 20px;
}
th {
  background-color: lightblue;
}
tr:nth-child(odd) td {
  background-color: lightgrey;
}
