
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

body, html {
  font-family: 'Maven Pro', sans-serif;
  background-color:#F8F8F8;
  font-size: 16px;
}

  .header_wide{
    width: 100%;
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #f0ebe3;
    
  }

  /*##################HEADER###################*/
  .header {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}

/*##################LOGO###################*/
.logo {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-left: 2%;
}

#logo_img {
  height: 50%;
  width: 100px;
  background-image: url('img/logo.png');  
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.vl {
  border-left: 1px solid rgb(0, 0, 0);
  height: 40%;
  margin-right: 10px;
}

#logo_name {
  height: 40%;
  width: 150px;
  margin-top: 15px;
  background-image: url('img/name.png');  
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
}

/*##################SEARCH###################*/

#search {
  display: flex;
  position: relative;
  align-items: center; /* align vertical */
  justify-content: center; /* align horizontal */
  flex-shrink: 1;
  float: left;
}

input[type=text] {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
  text-align: center;
  padding: 5px 20px;
  
}

.fa-search {
  position: absolute;
  left: 20px;
  top: calc(50% - 0.5em);
  color: #ccc;
}

/*##################SEARCH###################*/

.login {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin-right: 2%;
}
#login_form {
  width: 80px;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #3989b3;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 5px;
  letter-spacing: 1px;
  
}

#signup {
  width: 80px;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  color: #3989b3;
  font-weight: bold;
  padding: 5px 5px;
  letter-spacing: 1px;
  margin-left: 15px;
}