body, html {
    font-size: 48px;
}

/*Fist DIV*/
.first_div {
    font-size: 24px;
    background-color: blue
}
.first_h1 {
    font-size: 0.5rem;
}

.div1 {
   font-size:  0.5rem;
}

.div2 {
    font-size:  0.5em;
 }

 /*Second DIV*/
 .first1_div {
    font-size: 24px;
    background-color: rgb(73, 117, 83);
}
.first_h1 {
    font-size: 0.5rem;
}
 .second_h2, .div3 {
     font-size: 0.5em;
 }
 
 /*Third DIV*/
 
 .second_div {
    font-size: 36px;
    background-color: rgb(124, 17, 92)
 }

 .second_h1, .div4 {
    font-size: 0.5em;
}

/*Third_1sub DIV*/
.third_div {
    font-size: 25px;
    background-color: rgb(73, 117, 83);
}
.third_h1, .div5 {
    font-size: 0.5rem;
}

/*Third_2sub DIV*/
.forth_div {
    font-size: 25px;
    background-color: rgb(133, 136, 85);
}

.forth_h1, .div6 {
    font-size: 0.5em;
}