body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/*Global container*/
.container{
	width: 85%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

/*Header*/
header{
	background: #393f4d	;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1 {
	margin: 0;
}

header nav{
	float: right;
	margin-top: 15px;
}

header .highlight, header .current a{
	color: #feda6a;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
}

/*Showcase*/
#showcase_index{
	min-height: 400px;
	background: url('../img/index/showcase4.jpeg') no-repeat;
	background-position: center;
	background-size: cover;
}

#showcase h1{
	margin-top: 100px auto;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}

#showcase_about{
	min-height: 400px;
	background: url('../img/index/showcase3.jpeg') no-repeat 0;
	background-position: center;
	color: #ffffff;
}

/*header_bottom*/
.header_bottom{
	color: #ffffff;
	background: #393f4d	;
	padding: 5px;
}

/*Contacts*/
#contacts_images_about .contacts_about{
	text-align: center;
	float: left;
	width: 30%;
	padding: 5px;
}

#contacts_images_about .contacts_about img{
	width: 90px;
}

/*About Page | Text about me */
#about{
	min-height: 400px;
}

#about p{
	font-size: 16px;
	text-align: left;
	color: #393f4d
}

/*Footer*/
footer{
	padding: 20px;
	color: #feda6a;
	background-color: #393f4d;
	text-align: center;
}

/*sidebar*/
#sidebar_projects{
	float: right;
	width: 50%;
	background: url('../img/index/showcase4.jpeg') no-repeat;
}

#projects{
	float: left;
	width: 55%;
}

.button_1{
  height:38px;
  background:#e8491d;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
